* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
body {
  line-height: 1.5;
  
}

header {
  padding: 40 20px;
  border: 1px solid;
  border-bottom: 5px solid hsl(0deg, 0%, 60%);
  background-color: white;
}

h1 {
  font-size: 2rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg, 0%, 40%);
  padding: 40px 0;
}

main h2 {
  margin-top: 0;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 5px solid hsl(45deg, 100%, 40%);
  width: 95%;
  padding: 8px 24px;
  font-size: 1.25rem;
}

.card {
  background-color: white;
  padding-top: 8px;
  border-bottom: 5px solid hsl(0deg, 0%, 60%);
}

.card p{
  padding: 0 24px;
  padding-bottom: 24px;
}