* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}

/* Add styles here! */
body {
  line-height: 1.5;
}

header {
  padding: 40 20px;
  background-color: white;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2rem;
}
.introduction {
  max-width: 350px;
}
.motto {
  max-width: 300px;
}
strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg, 0%, 40%);
  border-top: 5px solid hsl(0deg, 0%, 60%);
  padding: 40px 0;
}

main h2 {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 5px solid hsl(45deg, 100%, 40%);
  margin-top: 0;
  width: 95%;
  max-width: max-content;
  padding: 8px 24px;
  font-size: 1.25rem;
}

.card {
  background-color: white;
  padding-top: 8px;
  border-bottom: 5px solid hsl(0deg, 0%, 60%);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.card p {
  padding: 0 24px;
}

.indented-heading{
  margin-left: -8px;
}
